## looping statements
- To perform a task multiple times
- in python,we have for and while only
### for loop:
- for in range():
       # body of the loop

In [1]:
range(10)

range(0, 10)

In [2]:
range (1,10)

range(1, 10)

In [4]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [9]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [10]:
for y in range(1,10):
    print(y,end=' ')

1 2 3 4 5 6 7 8 9

In [11]:
for a in range(1,10,2):
    print(a,end=' ')

1 3 5 7 9

In [22]:
n=int(input('enter a no to generate matn table:'))
for i in range(1,11):
    print(n,'*',i,'=', n*i)

enter a no to generate matn table:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [23]:
### task1:generate math tables from upto given range
## input:5
## 2,3,4,5 tables

In [3]:
n=int(input('enter a no to generate matn table:'))
for i in range(1,11):
    for j in range(1,n):
        print(n,'*',i,'=', n*i)

enter a no to generate matn table:5
5 * 1 = 5
5 * 1 = 5
5 * 1 = 5
5 * 1 = 5
5 * 2 = 10
5 * 2 = 10
5 * 2 = 10
5 * 2 = 10
5 * 3 = 15
5 * 3 = 15
5 * 3 = 15
5 * 3 = 15
5 * 4 = 20
5 * 4 = 20
5 * 4 = 20
5 * 4 = 20
5 * 5 = 25
5 * 5 = 25
5 * 5 = 25
5 * 5 = 25
5 * 6 = 30
5 * 6 = 30
5 * 6 = 30
5 * 6 = 30
5 * 7 = 35
5 * 7 = 35
5 * 7 = 35
5 * 7 = 35
5 * 8 = 40
5 * 8 = 40
5 * 8 = 40
5 * 8 = 40
5 * 9 = 45
5 * 9 = 45
5 * 9 = 45
5 * 9 = 45
5 * 10 = 50
5 * 10 = 50
5 * 10 = 50
5 * 10 = 50

## While loop
-  i=0
   while(condition):
   #body of the loop
    increment/decrement

In [3]:
i=1
while(i<=10):
    print(i)
    i+=1
print(i)

1
2
3
4
5
6
7
8
9
10
11

### jump statements
- by using these statements we will terminate(exit) the loop
- those are break and continue
- break:break statement will terminate the loop perminately
- continue:it will terminate for instant time only

In [3]:
for i in range(100):
    if (i==51):
        break
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [4]:
for j in range(1,101):
    if(j%5==0):
        continue
        print(j,end=' ')

In [2]:
for j in range(1,101):
    if(j%5==0):
        continue
        print(j,end=' ')

In [3]:
# task2:generate even numbers up to 100(use range with 3 args)
#input:enter start value   5
#output: 6,8,10,........,100

In [1]:
n=int(input("enter start value:"))
for i in range(n,101,1):
    if(i%2==0):
        
    print(i)

enter start value:5
5