In [1]:
# find the max and second max in the list
li=[10,20,9,100,89,500]
li.sort()

In [2]:
li

[9, 10, 20, 89, 100, 500]

In [3]:
print("Maximum value in a list is ",li[-1])
print("Second maximum value in a list is ",li[-2])

Maximum value in a list is  500
Second maximum value in a list is  100

In [4]:
# find the min and max without usind predefined functions
l=[10,20,9,100,89,500]
m=l[0]

In [5]:
# maximum value:

In [6]:
for i in l:
    if(i>m):
        m=i
print("max number in a list",m)

max number in a list 500

In [7]:
# minimum value

for i in l:
    if(i<m):
        m=i
print("min number in a list",m)

min number in a list 9

In [8]:
# sort the list of items without using predefined functions
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]>l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
print(l)

[9, 10, 20, 89, 100, 500]

In [9]:
# find the prime numbers in the list
l=[2,3,4,5,6,7,8,9,10,11]
pl=[]
for i in l:
    c=0
    for j in range(2,i):
        if(i%j==0):
            c=c+1
    if(c==0):
        print("Prime numbers are: ",i)
        pl.append(i)
pl

Prime numbers are:  2
Prime numbers are:  3
Prime numbers are:  5
Prime numbers are:  7
Prime numbers are:  11

[2, 3, 5, 7, 11]

In [10]:
# print the squares of a list elements
l=[1,2,3,4,5]
li=[]
for i in l:
    li.append(i**2)
li

[1, 4, 9, 16, 25]

In [11]:
## Tuples:
- Tuples are just like a lists
- Tuples are immutable lists
- Tuples are created by using paranthesis--()

SyntaxError: invalid syntax (<ipython-input-11-9fc800f52774>, line 2)

In [12]:
t=(1,2,3,"hello",3.5,33.3)
type(t)

t

(1, 2, 3, 'hello', 3.5, 33.3)

In [13]:
t=(1,2,3,[10,20,30],"hello",3.5)
t

(1, 2, 3, [10, 20, 30], 'hello', 3.5)

In [14]:
l=[(1,2,3),10,20,30,("hello",3.5)]
l

[(1, 2, 3), 10, 20, 30, ('hello', 3.5)]

In [15]:
### Access elements from tuples

In [16]:
t=(1,2,3,"hello","5.7")
t[-1]

'5.7'

In [17]:

t[1:]

(2, 3, 'hello', '5.7')

In [18]:
t[-2]

'hello'

In [19]:
t[::2]

(1, 3, '5.7')

In [20]:
t=([1,2,3],[4,5,6])
t[1][0]

4

In [21]:
t=(1,2,3,4,5,6,7,8,"hello")
t[-1]="welcome"     #immutable

TypeError: 'tuple' object does not support item assignment

In [22]:
l=[1,2,3,4,5,6]
l[0]=100
l

[100, 2, 3, 4, 5, 6]

In [23]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [24]:
t=(1,2,3,4,5,6,"hello","hai",1,1)
t.count(1)

3

In [25]:

t.index("hello")

6

In [26]:
## Sets:
- Set is an unordered data elements
- Sets can be create by using braces-- { }
- Sets didn't allow duplicate elements

SyntaxError: invalid syntax (<ipython-input-26-eaca747b54a9>, line 2)

In [28]:
# create a set
s={"hai","hello",1,2,3,9.8,4.5}
type(s)

set

In [29]:
s=set()
type(s)

set

In [30]:
 # without passing elements that object return dictionary
s={}
type(s)

dict

In [31]:
s={1,2,4,1,3,5,2,56,3.5,"hello","hello"}
s

{1, 2, 3, 3.5, 4, 5, 56, 'hello'}

In [32]:
# we can't access the elements in sets by index position
s={10,20,30,"nice","cook"}
s[0]

TypeError: 'set' object is not subscriptable

In [33]:
# we can access the elements in sets by using for loop
for i in s:
    print(i)

nice
10
cook
20
30

In [34]:

s={1,2,4,{1,3,5,2},"hello","hello"}
s

TypeError: unhashable type: 'set'

In [35]:
s={1,2,4,[1,3,5,2],"hello","hello"}
s

TypeError: unhashable type: 'list'

In [36]:
s={1,2,4,(1,3,5,2),"hello","hello"}
s

{(1, 3, 5, 2), 1, 2, 4, 'hello'}

In [37]:
l=[10,20,30,20,10]
s=set(l)
s

{10, 20, 30}

In [38]:
dir(s)

# add()
s={1,2,3}
s.add("hello")
s.add(100)
s

{1, 100, 2, 3, 'hello'}

In [39]:
# clear()
s.clear()
s

set()

In [40]:
del(s)
s

NameError: name 's' is not defined

In [41]:
# copy()
s={1,2,3}
s_copy=s.copy()
s_copy

{1, 2, 3}

In [42]:
# difference()
s1={1,2,3,4,5,6}
s2={1,9,4,7,3,8}
s1.difference(s2)

{2, 5, 6}

In [43]:
s2.difference(s1)

{7, 8, 9}

In [44]:
# difference_update()
s1.difference_update(s2)
s1

{2, 5, 6}

In [45]:
# intersection()
s1={1,2,3,4,5,6}
s2={1,9,4,7,3,8}
s1.intersection(s2)

{1, 3, 4}

In [46]:
# isdisjoint()
s1={1,2,3,4,5,6}
s2={10,40,20,70,30}
s1.isdisjoint(s2)

True

In [47]:
# issubset()
s1={1,2,3,4,5,6}
s2={1,2,3}
s2.issubset(s1)

True

In [48]:

# pop()
s={1,9,4,7,3,8}
s.pop()
s

{3, 4, 7, 8, 9}

In [49]:
# remove
s={1,9,4,7,3,8}
s.remove(4)
s

{1, 3, 7, 8, 9}

In [50]:
# symmetric_difference
s1={1,2,3,4,5,6}
s2={1,9,4,7,3,8}
s1.symmetric_difference(s2)

{2, 5, 6, 7, 8, 9}

In [51]:
s2

{1, 3, 4, 7, 8, 9}

In [52]:
# symmetric_difference_update
s1={1,2,3,4,5,6}
s2={1,9,4,7,3,8}
s1.symmetric_difference_update(s2)
s1

{2, 5, 6, 7, 8, 9}

In [53]:
# union
s1={1,2,3,4,5,6}
s2={1,9,4,7,3,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
# union
s1={1,2,3,4,5,6}
s2={1,9,4,7,3,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}