In [1]:
print("Welcome to the Collections concept in python")

Welcome to the Collections concept in python

# Collections in python
    - list
    - tuple
    - set
    - dictionary

# list
-List data can be represented by using [] or list()
-List allow duplicate value
-We can manupulate data by using indexing and Slicing
 - Oredered format values are stored in a list

In [19]:
List1=[1,2,3]
List1

[1, 2, 3]

In [20]:
List2=["Kalyan","Badulla","Rakesh"]
List2

['Kalyan', 'Badulla', 'Rakesh']

In [21]:

list3=["Ram",1,"Sam",2,"Nayan",3]
print(list3)

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [22]:
# Indexing 
list3[2]

'Sam'

In [23]:
list3[4]

'Nayan'

In [24]:
list3[5]

3

In [25]:
list3[-1]

3

In [26]:
list3[-4]

'Sam'

In [27]:
list3[::-1]

[3, 'Nayan', 2, 'Sam', 1, 'Ram']

In [28]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [29]:
list3[2:]

['Sam', 2, 'Nayan', 3]

In [30]:
list3[0:4]

['Ram', 1, 'Sam', 2]

In [31]:
list3[:-2]

['Ram', 1, 'Sam', 2]

In [32]:
list3[1:4]

[1, 'Sam', 2]

In [33]:

list3[-2:1:-1]

['Nayan', 2, 'Sam']

In [34]:
demo=list3[1:3]
demo

[1, 'Sam']

In [35]:
demo[::-1]

['Sam', 1]

In [36]:
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3]

In [37]:
list3.append("Mounika")
list3

['Ram', 1, 'Sam', 2, 'Nayan', 3, 'Mounika']

In [38]:
list5=[1,2,3]
list6=["a","b","c"]
list5.append(list6)
list5

[1, 2, 3, ['a', 'b', 'c']]

In [39]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [40]:
list5

[1, 2, 3, 'a', 'b', 'c']

In [41]:
list5.remove("c")
list5

[1, 2, 3, 'a', 'b']

In [42]:
list5.pop()
list5

[1, 2, 3, 'a']

In [43]:
list5.clear()
list5

[]

In [50]:
del list5

list5

NameError: name 'list5' is not defined

In [51]:
list5.insert(3,"veena")
list5

NameError: name 'list5' is not defined

In [48]:
list7=list5 + list6
list7

NameError: name 'list5' is not defined

In [1]:

employee=["sam","Mounica","Bhanu"]
manager=["Rakesh","vamsi","Madhavi"]
for emp in employee:
  manager.append(emp)

print(manager)

['Rakesh', 'vamsi', 'Madhavi', 'sam', 'Mounica', 'Bhanu']

In [2]:
if "vamsi" in manager:
  print("He is in manager list")
else:
  print("No he is not one of the manager")

He is in manager list

In [3]:

list5.extend(list6)
list5

NameError: name 'list5' is not defined

In [4]:
marks=[]
marks_size=int(input("Enter how many marks are there"))
for data in range(marks_size):
   marks_list=int(input("Enter Marks"))
   marks.append(marks_list)

print("Entered Marks are ", marks)
def secondHighest(marks):
  marks.sort()
  return marks[-2]

secondHighest(marks)

Enter how many marks are there7
Enter Marks34
Enter Marks22
Enter Marks12
Enter Marks1
Enter Marks2
Enter Marks3
Enter Marks4
Entered Marks are  [34, 22, 12, 1, 2, 3, 4]

22